.item {
  font-size: var(--text-main-size);
  font-weight: 600;
  display: flex;
  align-items: center;
  &:last-of-type {
    margin-bottom: 0;
  }

  &_type_star {
    &::before {
      content: '';
      background-image: url('../../images/list-item/star.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      min-width: 1.6em;
      min-height: 1.65em;
      margin-right: 1em;
    }
  }
  &_type_circle {
    &::before {
      content: '';
      background-image: url('../../images/list-item/red.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      width: 1.3em;
      height: 1.3em;
      margin-right: 1em;
    }
  }
}