.item {
  font-size: var(--text-main-size);
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  &:last-of-type {
    margin-bottom: 0;
  }

  &_type_yellow {
    &::before {
      content: '';
      background-image: url('../../images/list-item/yellow.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      width: 23px;
      height: 23px;
      margin-right: 1em;
    }
  }
  &_type_red {
    &::before {
      content: '';
      background-image: url('../../images/list-item/red.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      width: 1.3em;
      height: 1.3em;
      margin-right: 1em;
    }
  }
}