.item {
  &__title {
  margin-left: 1em;
  display: flex;
  align-items: center;
  gap: 6px;
  }
  &__options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
  }
  &__option {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border-radius: 2.7rem;
    border: 3px solid ;
    box-sizing: border-box;
    cursor: pointer;
  }
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em
}