.button {
  background-color: var(--main-highlight-color);
  font-weight: 700;
  padding: 1em 2em;
  border: none;
  border-radius: 2.5rem;
  text-align: center;
  transition: background-color 0.4s linear;
  width: fit-content;
  max-width: 250px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.138);
  cursor: pointer;
  color:white ;
}