.title {
  color: var(--main-highlight-color);
  font-size: 4.8rem;
  font-weight: 800;
  display: flex;
  align-items: baseline;
}

.intro__heading::after {
  content: '';
  background-image: url('../../images/fundamentals/question-mark.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 61px;
  height: 111px;
  display: block;
  transform: rotate(15deg);
}

.intro__img {
  background-image: url('../../images/fundamentals/frog.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 415px;
  height: 415px;
  display: block;
  position: relative;
}

.intro__img::before {
  content: '';
  background: rgb(174, 221, 177);
  background: radial-gradient(circle, rgba(174, 221, 177, 0.734) 0%, rgba(174, 221, 177, 0.591) 35%, rgba(202, 244, 204, 0.14609593837535018) 100%);
  width: 1000px;
  height: 1000px;
  position: absolute;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  display: block;
  filter: blur(80px);
  z-index: -1;
}


.integration {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 3;
  gap: 5rem;
}

.integration__img {
  background-image: url('../../images/fundamentals/integration.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 426px;
  height: 429px;
  position: relative;
}

.integration__img::before {
  content: '';
  background-image: url('../../images/fundamentals/globe.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 130px;
  height: 125px;
  position: absolute;
  top: -15%;
  left: 40%;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.pecularity__img {
  content: '';
  background-image: url('../../images/fundamentals/flag.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 203px;
  width: 154px;
  margin: 0 auto;
}

.methods__img_wrapper {
  position: relative;
  top: -1rem;
}

.methods__img {
  background-image: url('../../images/fundamentals/methods-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 391px;
  height: 377px;
  position: relative;
}

.methods__img::before {
  content: '';
  background-image: url('../../images/fundamentals/methods-notes.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100px;
  height: 128px;
  position: absolute;
  left: -80px;
  bottom: 5%;
  transform: rotate(40deg);
}

.methods__img_content_type_top {
  font-weight: 800;
  position: absolute;
  top: -48px;
  right: -130px;
}

.methods__img_content_type_top::before {
  content: '';
  background-image: url('../../images/link/arrow-link.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 21px;
  position: absolute;
  transform: rotate(147deg);
  bottom: -17px;
  left: -44px;
}

.methods__img_content_type_bottom {
  font-weight: 800;
  position: absolute;
  bottom: -80px;
  left: 0;
}

.methods__img_content_type_bottom:before {
  content: '';
  background-image: url('../../images/link/arrow-link.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 21px;
  position: absolute;
  transform: rotate(331deg);
  top: -30px;
  left: 35%;
}