.card {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-color: #B85953;
  border-radius: 2.7rem;
  box-sizing: border-box;
  padding: 3rem;
  padding-bottom: 4rem;
  padding-right: 2rem;
  background-color: #dbdbdb30;
  // text-align: justify;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.091);

  &__heading {
    font-size: inherit;
    font-weight: 700;
    margin: 0 auto 1.5em auto;
  }
}
