.wrapper {
  font-family: "Kalam";
  background-color: var(--content-color-grey);
  min-width: 100%;
  min-height: 100%;
  min-height: fit-content;
  border: 3px solid;
  border-radius: 2.7rem;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.138);
  padding: 3rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}