.main {
  padding: 50px 200px 100px 200px;
  max-width: 100%;
  overflow: hidden;
}

.section {
  padding-top: 10rem;
  
  &_type_big {
    padding-top: 18rem;
  }

  &_type_sm {
    padding-top: 5rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_align_baseline {
      align-items: baseline;
    }

    &_align_start {
      align-items: flex-start;
    }
  }
  &__content {
    flex-basis: 50%;
  }
  &__heading {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1800px) {
  .main {
    padding: 50px 300px 100px 300px;
  }
}

@media screen and (max-width: 1400px) {
  .main {
    padding: 50px 100px 50px 100px;
  }
}