.main {
  padding: 100px 200px 100px 200px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.section__content {
  flex-basis: 50%;
}

@media screen and (min-width: 1800px) {
  .main {
    padding: 100px 300px 100px 300px;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 50px 100px 50px 100px;
  }
}