.img {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.flip_card {
  width: 30%;
  height: 400px;
  max-height: 400px;

  @media screen and (min-width: 1800px) {
    height: 450px;
    max-height: 450px;
  }

  &__descr {
    position: relative;

  }

  &__arrow {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    background-image: url('../../images/usage/arrow.png');
    transform: rotate(185deg);
    height: 47px;
    width: 60px;
    left: -130px;
    top: 30%;
    animation: arrowAnimation 1s ease-in-out infinite alternate;
  }

  &__heading {
    font-size: var(--heading-df-size);
  }

  &__face {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 1.5em;
    border-radius: 2.7rem;
    max-width: fit-content;
    text-align: justify;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.138);
    box-sizing: border-box;
  }

  &__face_front {
    composes: flip_card__face;
    background-color: var(--content-color-light-green);
  }

  &__face_back {
    composes: flip_card__face;
    background-color: var(--content-color-yellow);
  }
}

@keyframes arrowAnimation {
  0% {
    left: -130px
  }
  100% {
    left: -150px
  }
}

.slider__descr {
  width: 70%;
}