.important_info{
  background-color: var(--main-info-color);
  color: white;
  font-weight: 600;
  padding: 1.5em 2em;
  border-radius: 2.7rem;
  max-width: fit-content;
  text-align:left;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.138);
}