.link {
  background-color: var(--main-info-color);
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 2.5rem;
  text-align: center;
  margin-top: 4em;
  transition: background-color 0.4s linear;
  width: fit-content;
  max-width: 250px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.138);
  position: relative;

  &:hover {
    background-color: var(--main-highlight-color);
  }

  &_type_left {
    composes: link;
    margin-right: auto;

    &:before {
      position: absolute;
      content: '';
      background-image: url('../../images/link/arrow-link.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 62px;
      height: 33px;
      display: block;
      transform: rotate(60deg);
      top: -50%;
      right: 100%;
    }
  }

  &_type_right {
    composes: link;
    margin-left: auto;

    &:after {
      position: absolute;
      content: '';
      background-image: url('../../images/link/arrow-link.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 62px;
      height: 33px;
      display: block;
      transform: scale(-1, 1) rotate(68deg);
      top: -50%;
      left: 100%
    }
  }

}

@media screen and (min-width: 1800px) {
  .link {
    max-width: 300px;
  }
}