:root {
  --main-bg-color: #FFFAE8;
  --main-text-color:#474444;
  --main-info-color: #F5BF6B;
  --main-highlight-color:#57815F;
  --header-color: #a5d9a8eb;
  --header-sm-size: 2rem;
  --header-lg-size: 4.5rem;
  --text-main-size: 1.6rem
}

@media screen and (max-width: 1280px){
  :root {
    --main-bg-color: #FFFAE8;
    --main-text-color:#474444;
    --main-info-color: #F5BF6B;
    --main-highlight-color:#57815F;
    --header-color: #a5d9a8eb;
    --header-sm-size: 1.6rem;
    --header-lg-size: 3.6rem;
    --text-main-size: 1.4rem
  }
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.link-default {
  text-decoration: none;
  color: inherit;
}
.list-default {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('components/fonts/Manrope-Light.ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('components/fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('components/fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('components/fonts/Manrope-Bold.ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('components/fonts/Manrope-ExtraBold.ttf');
}



